*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
*.bbl
*.blg
_region_.tex
auto/
.DS_Store
Skript/_region_.prv
Skript/lineare-algebra.synctex.gz
Skript/lineare-algebra.prv
Skript/texput.log
Skript/_region_.*
Skript/dhbw-logo-eps-converted-to.pdf
Skript/_region_.prv/
Sympy-Scipy/_region_.prv
Sympy-Scipy/sympy-scipy.synctex.gz
Sympy-Scipy/sympy-scipy.prv
Skript/Abbildungen/sarrus-eps-converted-to.pdf
Skript/Abbildungen/gauss-ebene-eps-converted-to.pdf
Skript/Abbildungen/fibonacci-eps-converted-to.pdf
cubic-eps-converted-to.pdf
.dropbox