*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.DS_Store
Script/_region_.prv
Script/lineare-algebra.synctex.gz
Script/lineare-algebra.prv
Script/texput.log
Script/_region_.*
Script/dhbw-logo-eps-converted-to.pdf
Sympy-Scipy/_region_.prv
Sympy-Scipy/sympy-scipy.synctex.gz
Sympy-Scipy/sympy-scipy.prv
Script/Abbildungen/sarrus-eps-converted-to.pdf
Script/Abbildungen/gauss-ebene-eps-converted-to.pdf
Script/Abbildungen/fibonacci-eps-converted-to.pdf
cubic-eps-converted-to.pdf
.dropbox